@page "contact.html"

@model ContactRequestModel

@{
    ViewData["Title"] = "LIEN HE";
}
<h1 class="display-4">Trang lien he</h1>
<p class="lead">Dien cac thong tin lien he</p>
<hr>

<form class="bg-light p-2 m-2" method="post" asp-page="ContactRequest">
    <div class="mb-3">
        <label class="form-lable" asp-for="UserId"></label>
        <input class="form-control" asp-for="@Model.UserId">
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>

    <button class="btn btn-danger" type="submit">Gửi</button>
</form>

<div class="alert alert-danger">
    <p>Thong tin User</p>
    <ul>
        <li>UserID: @Model.UserId</li>
        <li>Email: @Model.Email</li>
        <li>UserName: @Model.UserName</li>
    </ul>

</div>