@page "contact.html"

@model ContactRequestModel

@{
    ViewData["Title"] = "LIEN HE";
}
<h1 class="display-4">Trang lien he</h1>
<p class="lead">Dien cac thong tin lien he</p>
<hr>

<div class="alert alert-danger">
    <p>Thong tin User</p>
    <ul>
        <li>UserID: @Model.UserId</li>
        <li>Email: @Model.Email</li>
        <li>UserName: @Model.UserName</li>
    </ul>

</div>